@font-face {
	font-family: Righteous;
	src: url(/fonts/Righteous.ttf);
}

@font-face {
	font-family: 'Space Grotesk';
	src: url(/fonts/SpaceGrotesk.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Space Grotesk", sans-serif;
}